<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> RAAO ELECTRICALS</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.0/tailwind.min.css"
      integrity="sha256-CAI/7ThhltsmP2L2zKBYa7FknB3ZwFbD0nqL8FCdxdc="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <nav class=" flex items-center bg-gray-600 p-3 flex-wrap">
      <a href="#" class="p-2 mr-4 inline-flex items-center ml-8 font-serif font-extrabold text-3xl">
     <h3 class="text-white  font-sans">R<span class="text-red-300">A</span><span class="text-green-500">A</span><span class="text-blue-700">O</span> </h3>
      </a>
      <button
        class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler border-none"
        data-target="#navigation"
      >
        <i class="material-icons">menu</i>
      </button>
      <div
        class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto container"
        id="navigation"
      >
        <div
          class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto"
        >
          <a
            href="#home"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Home</span>
          </a>
          <a
            href="about.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>About</span>
          </a>
          <a
            href="services.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Services</span>
          </a>
          <a
            href="#products"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded  text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Products</span>
          </a>
          <a
            href="#contact"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Contact Us</span>
          </a>
        </div>
      </div>
    </nav>

    
        <section id="home" class="section-a h-full w-full font-serif text-gray-50 leading-relaxed lg:text-left md:text-left sm:text-center pt-96 pb-96">
            <div class="h-full bg-cover bg-top bg-no-repeat flex flex-col justify-center items-start pt-52" style="background-image: url(./bulb/bg/R11.jfif)">
           <div class="container">
             <div class="info">
               <h1 class="text-5xl font-serif font-extrabold  underline leading-relaxed py-96"data-aos="fade-up"data-aos-delay="50">No dark corners anymore with <span class="text-blue-400">LED LIGHT</span></h1><br>
               <p class="font-sans  leading-10" data-aos="fade-up"data-aos-delay="300">Get all your electrical gadgets at very affordable prices with 50% discount every week at RAAO ELECTRICALS<br>we deal with all kinds of switches, pvc pipes, metre board quality LED, cables etc.</p>
               <a href="#products">
                 <button class="animate-ping bg-blue-600 text-white text-center cursor-pointer px-14 py-1 mt-8 rounded-full uppercase hover:bg-gray-500 mb-24"data-aos="fade-left"data-aos-delay="200">Have a look now!</button>
               </a>
               </div>
             </div>
           </div>
    </section>
    <section  class="brands w-full h-auto">
      <div class="container">
        <div class="grid grid-cols-2 lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-4 gap-6 p-5 items-center">
          <div>
            <img width="200px" src="bulb/brand/light.jfif" alt="">
          </div>
          <div>
            <img width="200px" src="bulb/brand/phi.png" alt="">
          </div>
          <div>
            <img width="200px" src="bulb/brand/tcparta.jfif" alt="">
          </div>
          <div>
            <img width="200px" src="bulb/brand/hisense-logo.png" alt="">
          </div>
          <div>
            <img width="200px" src="bulb/brand/Crompton_logo.jpg" alt="">
          </div>
          <div>
            <img width="200px" src="bulb/brand/OIP.jfif" alt="">
          </div>

        </div>
      </div>

    </section>
    <section class="section-d pb-96">
      <div class="h-full  bg-no-repeat bg-cover bg-bottom bg-fixed py-52"  style="background-image: url(./bulb/bg/bg-33.jfif)">
      <div class="container">
        <div class="section-b-inner lg:text-center  justify-center items-center text-center leading-relaxed">
          <p class="flex-col font-serif text-3xl text-left text-white justify-center"data-aos="fade-up"><span class="font-serif font-bold text-3xl text-blue-500"> RAAO ELECTRICALS</span> is ever ready to serve you better with quality, power saving and affordabe electrical gadgets<br><br>Noworries, with <span class="font-serif text-blue-500 text-xl"> RAAO ELECTRICALS</span>  we say the BUILDERS CHOICE!</p>
        </div>
        </div>
      </div>
    </section>
    <section id="products" class="product-info h-full w-full pt-10 bg-gray-300">
      <div class="container">
        <h1 class="font-medium text-5xl mb-4  pt-9 text-center  text-black uppercase
             font-serif leading-normal"data-aos="fade-up"data-aos-delay="50">LED BULBS</h1>
            <p class="flex text-center justify-center items-center text-4xl  font-thin
             pb-3 align-middle text-gray-900 leading-relaxed "data-aos="fade-up"data-aos-delay="50">Take a look at this kinds of awesome bulbs.
             they can provide. 
              </p>
          <hr class=" bg-slate-900 font-bold p-0.5 w-48 mx-auto mb-2 mt-3">
               <!-- IMAGE -->
               <div class="grid grid-flow-row lg:grid-cols-6 md:grid-cols-2 sm:grid-cols-1 gap-10 pt-8 px-5 items-center">
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/bulb/philips.jpeg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">philips</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/bulb/cooper Regent.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">Cooper regent</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/bulb/Osram.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">Osram</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/bulb/goodlight.jpeg
                  " alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">GoodLight</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/bulb/focus bulb.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">Focus</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/bulb/tesla 9w led.jfif" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">Tesla 9w led</h3>
                  </div>
                </div>
          </div>
      </div>
    </section>
    <section class="product-info h-full w-full pt-10 bg-gray-300">
      <div class="container">
        <h1 class="font-medium text-5xl mb-4  pt-9 text-center  text-black uppercase
             font-serif leading-normal"data-aos="fade-up"data-aos-delay="50">extensions</h1>
            <p class="flex text-center justify-center items-center text-4xl  font-thin
             pb-3 align-middle text-gray-900 leading-relaxed "data-aos="fade-up"data-aos-delay="50">Quality brand power saving extensions.
              </p>
          <hr class=" bg-slate-900 font-bold p-0.5 w-48 mx-auto mb-2 mt-3">
               <!-- IMAGE -->
               <div class="grid grid-flow-row lg:grid-cols-6 md:grid-cols-2 sm:grid-cols-1 gap-10 pt-8 px-5 items-center">
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/ext/4 way extension.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">4 way extension</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/ext/EU-European-Plug-Power-Strip-With-Switch-AC-Electrical-4-5-6-Outlets-Extension-Socket-Cord.webp" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">european plug extension</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/ext/Extension-Cord-8-Socket-Extension-SDL550805934-1-83129.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">extension cord 8</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/ext/Smart-Charger-Wall-.webp" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">smart charger wall</h3>
                  </div>
                </div>

              
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/ext/5 way usb extension.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">5 way usb extension</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/ext/s-l1000 (1).jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">s- l100</h3>
                  </div>
                </div>
          </div>
      </div>
    </section>
    <section class="product-info h-full w-full pt-10 bg-gray-300">
      <div class="container">
        <h1 class="font-medium text-5xl mb-4  pt-9 text-center  text-black uppercase
             font-serif leading-normal"data-aos="fade-up"data-aos-delay="50">Switches</h1>
            <p class="flex text-center justify-center items-center text-4xl  font-thin
             pb-3 align-middle text-gray-900 leading-relaxed "data-aos="fade-up"data-aos-delay="50">Grab your quality switch here.
              </p>
          <hr class=" bg-slate-900 font-bold p-0.5 w-48 mx-auto mb-2 mt-3">
               <!-- IMAGE -->
               <div class="grid grid-flow-row lg:grid-cols-6 md:grid-cols-2 sm:grid-cols-1 gap-10 pt-8 px-5 items-center">
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/switch/2way switch.jfif" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">2way switch</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/switch/intermediate switch.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">intermediate switch</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/switch/legrand-modular-switch-500x500.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">modular switch</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/switch/gang switch.jfif" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">gang switch</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/switch/V3.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">amazing v3 switch</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/switch/myrius-modular-switches-500x500.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">myrius switch</h3>
                  </div>
                </div>
          </div>
      </div>
    </section>
    <section class="product-info h-full w-full pt-10 bg-gray-300">
      <div class="container">
        <h1 class="font-medium text-5xl mb-4  pt-9 text-center  text-black uppercase
             font-serif leading-normal"data-aos="fade-up"data-aos-delay="50">Sockets</h1>
            <p class="flex text-center justify-center items-center text-4xl  font-thin
             pb-3 align-middle text-gray-900 leading-relaxed "data-aos="fade-up"data-aos-delay="50">Checkout this awesome velbona sockets </p>
          <hr class=" bg-slate-900 font-bold p-0.5 w-48 mx-auto mb-2 mt-3">
               <!-- IMAGE -->
               <div class="grid grid-flow-row lg:grid-cols-6 md:grid-cols-2 sm:grid-cols-1 gap-10 pt-8 px-5 items-center">
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/socket/double usb.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">double usb socket</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/socket/double wall plug.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">double wall plug</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/socket/SINGLE-USB.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">single usb plug</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/socket/15-AMPS-SOCKET.jpg " alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">15 amps socket</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/socket/V10.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">velbona v10 plug</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/socket/V7.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">velbona v7 socket</h3>
                  </div>
                </div>
          </div>
      </div>
    </section>
    <section class="product-info h-full w-full pt-10 bg-gray-300">
      <div class="container">
        <h1 class="font-medium text-5xl mb-4  pt-9 text-center  text-black uppercase
             font-serif leading-normal"data-aos="fade-up"data-aos-delay="50">Electrical iron</h1>
            <p class="flex text-center justify-center items-center text-4xl  font-thin
             pb-3 align-middle text-gray-900 leading-relaxed "data-aos="fade-up"data-aos-delay="50">Grab your quality brand power saving electrical irons here</p>
          <hr class=" bg-slate-900 font-bold p-0.5 w-48 mx-auto mb-2 mt-3">
               <!-- IMAGE -->
               <div class="grid grid-flow-row lg:grid-cols-6 md:grid-cols-2 sm:grid-cols-1 gap-10 pt-8 px-5 items-center">
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/iron/220V-2200W-Mini-Portable-Electric-Steam-Iron.webp" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">portable electrical iron</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/iron/pursonic-electric-cordless-steam-iron-portable-corded-cordless-2.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">pursonic electric iron</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/iron/mini foldable iron.jpeg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">mini foldable iron</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/iron/pursonic-electric-cordless-steam-iron-portable-corded-cordless-2.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">cordless electric iron</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/iron/mini electric iron.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">mini electric iron</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/iron/steam iron.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">steam iron</h3>
                  </div>
                </div>
          </div>
      </div>
    </section>
    <section class="product-info h-full w-full pt-10 bg-gray-300">
      <div class="container">
        <h1 class="font-medium text-5xl mb-4  pt-9 text-center  text-black uppercase
             font-serif leading-normal"data-aos="fade-up"data-aos-delay="50">Crompton ceiling fan</h1>
            <p class="flex text-center justify-center items-center text-4xl  font-thin
             pb-3 align-middle text-gray-900 leading-relaxed "data-aos="fade-up"data-aos-delay="50">Checkout this awesome crompton ceiling fans </p>
          <hr class=" bg-slate-900 font-bold p-0.5 w-48 mx-auto mb-2 mt-3">
               <!-- IMAGE -->
               <div class="grid grid-flow-row lg:grid-cols-6 md:grid-cols-2 sm:grid-cols-1 gap-10 pt-8 px-5 items-center">
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/c-fan/auro 2 prime.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">c -prime</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/c-fan/c-1200.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">c-1200</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/c-fan/Crompton-Greaves-48-Harmoni-Ceiling-SDL438598515-1-7f2dc.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">c-greaves</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/c-fan/avamour.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">avamour</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/c-fan/triton.jfif" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">triton</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/c-fan/avancer.jpeg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">avancer</h3>
                  </div>
                </div>
          </div>
      </div>
    </section>
    <section class="product-info h-full w-full pt-10 bg-gray-300">
      <div class="container">
        <h1 class="font-medium text-5xl mb-4  pt-9 text-center  text-black uppercase
             font-serif leading-normal"data-aos="fade-up"data-aos-delay="50">british cables</h1>
            <p class="flex text-center justify-center items-center text-4xl  font-thin
             pb-3 align-middle text-gray-900 leading-relaxed "data-aos="fade-up"data-aos-delay="50">Quality brand british cables for your devices </p>
          <hr class=" bg-slate-900 font-bold p-0.5 w-48 mx-auto mb-2 mt-3">
               <!-- IMAGE -->
               <div class="grid grid-flow-row lg:grid-cols-6 md:grid-cols-2 sm:grid-cols-1 gap-10 pt-8 px-5 items-center">
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/b-cable/two-pin-plug-500x500.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">two pin plug</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/b-cable/power-cable-iec-c15-to-male-uk-type-g-angled-3x1mm-18m.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">power cable g-angle</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/b-cable/2500mm-schuko-c19-locking-16a-250v-black-Front_large.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">250v black front</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/b-cable/Europlug.jfif" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">Europlug</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/b-cable/power-cable-iec-c15-to-male-uk-type-g-angled-3x1mm-18m.jpg" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">power cable-3x1mm</h3>
                  </div>
                </div>
                <div class="shadow-lg">
                  <img class=" rounded-tl-lg rounded-tr-lg items-center w-screen"data-aos="fade-left" src="bulb/b-cable/2m power cord.jfif" alt="">
                  <div class="p-5">
                    <h3 class="text-black text-center uppercase text-xl italic font-serif">2m power cord</h3>
                  </div>
                </div>
          </div>
      </div>
    </section>
    <section class="section-d">
      <div class="h-screen  bg-no-repeat bg-cover bg-bottom bg-fixed pt-48"  style="background-image: url(./bulb/bg/bg-2.jfif)">
      </div>
    </section>
    <footer class="bg-black h-auto w-full text-white pt-7 pb-10">
      <div class="container md:flex items-start pb-4 " data-aos="fade-left"> <img width="190px" src="" alt="">
      </div>
      <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-8 pt-12 px-5 items-center" >
          <div>
           <h2 id="contact" class="text-2xl  font-serif font-bold mb-6"> Contact Us</h2>
           <ul class="">
            <h3 class="font-serif pb-3"> Accra, Ghana</h3>
            <li class="pb-3">Phone: 0246948242</li>
            <li class="pb-3">Email: akwasiakyen40@gmail.com </li> 
          </ul>
          </div>
          <div>
          <h3 class="text-2xl  font-serif font-bold mb-6 ">Company Info</h3>
          <ul class="">
          <li class="pb-3 hover:underline"><a href="about.html">About Us</a></li>
          <li class="pb-3 hover:underline"><a href="policies.html">All Policies</a></li>
          <li class="pb-3 hover:underline"><a href="services.html">Terms of Use</a></li>
        </div>
      

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class=" flex mx-auto text-center justify-center text-sm font-serif mt-8">
        <em> DESIGNED BY ARTHUR EMMANUEL(Yhaw Noworries)</em>
      </div>
        <div class=" flex mx-auto text-center justify-center text-sm font-serif mt-8">
        <em>RAAO ELECTRICALS &copy 2022 ALL RIGHTS RESERVED</em>
      </div>
      
    </footer>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="./script.js"></script>



  </body>
</html>