<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> RAAO ELECTRICALS</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.0/tailwind.min.css"
      integrity="sha256-CAI/7ThhltsmP2L2zKBYa7FknB3ZwFbD0nqL8FCdxdc="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <nav class=" flex items-center bg-gray-600 p-3 flex-wrap">
      <a href="#" class="p-2 mr-4 inline-flex items-center ml-8 font-serif font-extrabold text-3xl">
        <h3 class="text-white  font-sans">R<span class="text-red-300">A</span><span class="text-green-500">A</span><span class="text-blue-700">O</span> </h3>
         </a>
      <button
        class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler border-none"
        data-target="#navigation"
      >
        <i class="material-icons">menu</i>
      </button>
      <div
        class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto container"
        id="navigation"
      >
        <div
          class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto"
        >
          <a
            href="index.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Home</span>
          </a>
          <a
            href="about.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>About</span>
          </a>
          <a
            href="services.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Services</span>
          </a>
          <a
            href="index.html"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded  text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Products</span>
          </a>
          <a
            href="#contact"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-white uppercase items-center justify-center hover:bg-gray-900 hover:text-white"
          >
            <span>Contact Us</span>
          </a>
        </div>
      </div>
    </nav>
    <section>
      <div class="container">
          <div class="info">
              <h2 class="text-6xl items-center mx-auto text-green-500 font-serif text-center mt-40 font-extrabold uppercase">
                  Terms of use
              </h2>
              <br>
              <p class="text-center text-black font-serif leading-10 text-2xl mb-14">
                  By using and/or visiting this website or any other platform through which RAAO Electricals is accessible 
                  
                  (collectively, including all content available through the RAAO Electricals domain name, (the “Website” or “Site”) You signify your assent to both these terms and conditions (“Terms of Use”) and the terms and conditions of RAAO  Privacy Policy (the “Privacy Policy”), which is published on the Website for reference. In addition, when using particular services provided by us such as viewing any clips, or participating in any contests, if any, you shall be subject to any additional guidelines or rules applicable to such services.
                  <br>
                  <br>
                  Kindly print these Terms of Use or save a copy of these Terms 
                  of Use for your records. If you do not agree to any of these terms, then please do not use the Website.
                  </p>
                
          </div>
      </div>
  </section>
    <footer class="bg-black h-auto w-full text-white pt-7 pb-10 mt-24">
        <div class="container md:flex items-start pb-4 " data-aos="fade-left"> <img width="190px" src="" alt="">
        </div>
        <div class="container">
          <div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-8 pt-12 px-5 items-center" >
            <div>
             <h2 id="contact" class="text-2xl  font-serif font-bold mb-6"> Contact Us</h2>
             <ul class="">
              <h3 class="font-serif pb-3"> Accra, Ghana</h3>
              <li class="pb-3">Phone: 0246948242</li>
              <li class="pb-3">Email: akwasiakyen40@gmail.com </li> 
            </ul>
            </div>
            <div>
            <h3 class="text-2xl  font-serif font-bold mb-6 ">Company Info</h3>
            <ul class="">
            <li class="pb-3 hover:underline"><a href="about.html">About Us</a></li>
            <li class="pb-3 hover:underline"><a href="policies.html">All Policies</a></li>
            <li class="pb-3 hover:underline"><a href="services.html">Terms of Use</a></li>
          </div>
        
  
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class=" flex mx-auto text-center justify-center text-sm font-serif mt-8">
          <em> DESIGNED BY ARTHUR EMMANUEL(Yhaw Noworries)</em>
        </div>
          <div class=" flex mx-auto text-center justify-center text-sm font-serif mt-8">
          <em>RAAO ELECTRICALS &copy 2022 ALL RIGHTS RESERVED</em>
        </div>
        
      </footer>
  
  
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
      ></script>
      <script src="./script.js"></script>
  
</body>
</html>    
